body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.dictionary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 50px auto;
}

.dictionary-image img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.dictionary-content {
  max-width: 1000px;

}

.dictionary-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.highlight {
  color: #00b666;
}

.dictionary-link {
  color: #00b666;
  font-weight: bold;
  text-decoration: none;
}

.dictionary-link:hover {
  text-decoration: underline;
}

.dictionary-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.dictionary-action {
  margin-top: 20px;
}

.dictionary-button {
  background-color: #00b666;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.dictionary-button:hover {
  background-color: #00b666;
}
