
* {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  box-sizing: border-box; 
}


.navbar {
  padding: 10px 20px;
  max-height: 60px;
}

.navbar-brand img {
  height: 24px;
}


.nav-link {
  font-size: 14px;
  color: #333;
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: #00c26d;
}


.btn-success {
  background-color: #00b666;
  border: none;
  transition: background-color 0.3s ease; 
}

.btn-success:hover {
  background-color: #00b666;
}

.form-control {
  min-width: 250px;
  transition: box-shadow 0.3s ease, border 0.3s ease; 
}

.form-control:hover {
  border: 1px solid #000;
  box-shadow: 0 4px 12px rgba(173, 216, 230, 0.5);
}


.container {
  padding: 12px;
}


@media (max-width: 1199px) {
  .form-control {
    max-width: 250px; 
  }

  .tooltip {
    display: none !important; 
  }
}


.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar-nav .dropdown-toggle::after {
  display: none; 
}

.dropdown-menu {
  transition: opacity 0.5s ease; 
  opacity: 0;
  display: block;
  visibility: hidden;
}

.dropdown-menu li a:hover {
  color: #00c26d;
  background-color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  border-top: 4px solid #00b666;
}


.btn-login {
  background-color: #00b666;
  border: none;
  width: 120px;
  height: 36px;
  padding: 6px 6px;
  font-weight: 500;
  transition: background-color 0.3s ease; 
}

.btn-login:hover {
  background-color: #00c26d;
}


.tooltip-inner {
  color: #fff;
  padding: 12px 24px !important;
  border-radius: 12px;
  max-width: 300px !important;
}

.tooltip-arrow {
  border-top-color: #00c26d !important;
}
